In [13]:
import yfinance as yf
import pandas as pd


df = yf.download('RELIANCE.NS', start='2016-01-01')

[*********************100%***********************]  1 of 1 completed

In [14]:
df.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-13,2340.199951,2350.000000,2313.550049,2323.350098,2323.350098,4777674
2023-02-14,2329.949951,2381.899902,2323.649902,2378.100098,2378.100098,6609564
2023-02-15,2376.000000,2437.199951,2373.000000,2431.949951,2431.949951,15461902
2023-02-16,2449.449951,2463.800049,2425.050049,2430.050049,2430.050049,7967558
2023-02-17,2420.000000,2447.500000,2410.600098,2440.199951,2440.199951,5450092
2023-02-20,2445.000000,2449.750000,2410.100098,2414.399902,2414.399902,4078245
2023-02-21,2424.000000,2446.800049,2412.350098,2434.100098,2434.100098,6143298
2023-02-22,2425.949951,2430.000000,2375.050049,2378.899902,2378.899902,5087729
2023-02-23,2378.000000,2394.750000,2361.350098,2367.500000,2367.500000,4546655
2023-02-24,2372.000000,2396.149902,2368.000000,2383.699951,2383.699951,4353814

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1769 entries, 2016-01-01 to 2023-02-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1769 non-null   float64
 1   High       1769 non-null   float64
 2   Low        1769 non-null   float64
 3   Close      1769 non-null   float64
 4   Adj Close  1769 non-null   float64
 5   Volume     1769 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 96.7 KB